@model List<UserVM>

<div class="col-9">
	<div class="usertent">
		<h3>Users</h3>
		<a style="margin-left:990px" asp-action="Create" class="btn btn-primary text-white">Create</a>
		<div class="usertent-detail">
			<table>
				<thead>
					<tr>
						<th>Full Name</th>
						<th>EmailAddress</th>
						<th>Roles</th>
						<th>Status</th>
						<th>Action</th>


					</tr>
				</thead>
				<tbody>
					@foreach (UserVM user in Model)
					{
						<tr>
							<td>@user.Fullname</td>

							<td>@user.Email</td>
							<td>@user.Role</td>
							<td>
								@if (user.IsDeactive)
								{
									<span class="text-success">Passiv</span>
								}
								else
								{
									<span class="text-danger">Active</span>
								}
							</td>
							<td>
								<div class="btn btn-info">
									<a style="color:white" asp-action="Update" asp-route-id="@user.Id">Update</a>
								</div>
								@if (user.IsDeactive)
								{
									<div class="btn btn-success">
										<a asp-action="Activity" style="color:white" asp-route-id="@user.Id">Activate</a>
									</div>
								}
								else
								{
									<div class="btn btn-danger">
										<a asp-action="Activity" style="color:white" asp-route-id="@user.Id">Deactivate</a>
									</div>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
